<html layout:decorate="~{layout/layout_base}">
    <head>
        <title>Mis recetarios</title>
    </head>
    <body>
        <div layout:fragment="content">
            <br>
            <!-- MIS RECETARIOS -->
            <div class="container">
                <h2>Últimas recetas</h2>

                <!-- Carrusel -->
                <!--
                <div class="Carousel">
                    <div class="slick-list" id="slick-list">
                        <button class="slick-arrow slick-prev" id="button-prev" data-button="button-prev" onclick="app.processingButton(event)">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left"
                                 class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 320 512">
                                <path fill="currentColor"
                                      d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                                </path>
                            </svg>
                        </button>
                        <div class="slick-track" id="track">
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Tacos de canasta</h4>
                                        <picture>
                                            <img src="../img/1.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Tacos</h4>
                                        <picture>
                                            <img src="../img/2.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Sopes</h4>
                                        <picture>
                                            <img src="../img/3.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Enchiladas suizas</h4>
                                        <picture>
                                            <img src="../img/4.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Tacos al pastor</h4>
                                        <picture>
                                            <img src="../img/5.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Chilaquiles</h4>
                                        <picture>
                                            <img src="../img/6.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Chiles rellenos</h4>
                                        <picture>
                                            <img src="../img/7.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Pozole</h4>
                                        <picture>
                                            <img src="../img/8.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Mole rojo</h4>
                                        <picture>
                                            <img src="../img/9.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4><small>Share Your Message</small>Watch</h4>
                                        <picture>
                                            <img src="../img/10.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Guacamole</h4>
                                        <picture>
                                            <img src="../img/11.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Tamales</h4>
                                        <picture>
                                            <img src="../img/12.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Platillo</h4>
                                        <picture>
                                            <img src="../img/13.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Tacos dorados</h4>
                                        <picture>
                                            <img src="../img/14.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Tortas</h4>
                                        <picture>
                                            <img src="../img/15.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>

                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4>Chalupitas</h4>
                                        <picture>
                                            <img src="../img/fondo1.jpg" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4><small>Share Your Message</small>Watch</h4>
                                        <picture>
                                            <img src="../img/fondo2.png" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4><small>Share Your Message</small>Watch</h4>
                                        <picture>
                                            <img src="../img/fondo3.png" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                            <div class="slick">
                                <div>
                                    <a href="/">
                                        <h4><small>Share Your Message</small>Watch</h4>
                                        <picture>
                                            <img src="../img/fondo4.png" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <button class="slick-arrow slick-next" id="button-next" data-button="button-next" onclick="app.processingButton(event)">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                                 class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 320 512">
                                <path fill="currentColor"
                                      d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
                -->

                <!-- RECETARIOS -->
                <br>
                <h2>Mis recetarios
                    <button type="button" style="border:none; background: none; color:#DD969C; outline: none" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" >
                        <i class="fas fa-plus-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Crear nuevo recetario"></i>
                    </button>
                </h2>
                <br>
                <div class="list-group">
                    <div th:each="item : ${recetarioList}">
                        <a th:href="@{'/ver-recetas/'+${item.idRecetario}}" class="list-group-item list-group-item-action">
                            <br>
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" th:text="${item.nombre}"></h5>
                            </div>
                            <br>
                        </a>
                        <br>
                    </div>
                    <!--
                    <a th:href="@{/test/recetas}" class="list-group-item list-group-item-action">
                        <br>
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Platos fuertes</h5>
                        </div>
                        <br>
                    </a>
                    <br>
                    <a th:href="@{/test/recetas}" class="list-group-item list-group-item-action">
                        <br>
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Platos debiles</h5>
                        </div>
                        <br>
                    </a>
                    <br>
                    -->
                </div>
                <!-- RECETARIOS -->


                <!-- RECETARIOS GUARDADOS -->
                <br>
                <h2>Recetarios guardados</h2>
                <br>
                <div class="list-group">
                    <div th:each="item : ${ufrList}">
                        <a th:href="@{'/ver-recetas-seguidas/'+${item.recetario.idRecetario}}" class="list-group-item list-group-item-action">
                            <br>
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" th:text="${item.recetario.nombre}"></h5>
                            </div>
                            <br>
                        </a>
                        <br>
                    </div>
                </div>
                <!-- RECETARIOS GUARDADOS -->
            </div>

            <!-- Model -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nuevo recetario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="recetario-form" th:action="@{/registrar-recetario}" method="post" th:object="${recetario}">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Nombre del recetario:</label>
                                    <input type="text" class="form-control" id="recipient-name" th:field="*{nombre}">
                                    <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-eliminar" data-bs-dismiss="modal">Cancelar</button>
                                <button class="btn btn-agregar" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Model-->

        </div>
    </body>
</html>