<html layout:decorate="~{layout/layout_base}">
    <head>
        <title>Mis recetarios</title>
    </head>
    <body>
        <div layout:fragment="content">
            <br>
            <!-- MIS RECETARIOS -->
            <div class="container">

                <!-- RECETARIOS -->
                <div class="recuadro_recetario">
                    <h2>Mis recetarios
                        <button type="button" style="border:none; background: none; color:#e0727b; outline: none" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" >
                            <i class="fas fa-plus-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Crear nuevo recetario"></i>
                        </button>
                    </h2>
                </div>

                <div style="padding: 20px;">
                    <div th:if="${#lists.isEmpty(recetarioList)}" class="recuadro_recetario">
                        <h2 style="text-align: center;">No hay recetarios</h2>
                    </div>

                    <div th:if="${!recetarioList.isEmpty()}" style="background-color: #f3ecf3; margin-top: 15px; margin-bottom: 15px; padding: 25px;" th:each="item : ${recetarioList}" >
                        <br>
                        <div class="d-flex w-100 justify-content-between">
                            <h5 style="font-size: 18pt;" ><a style="text-decoration: none; color:#8a8f97;" th:href="@{'/ver-recetas/'+${item.idRecetario}}" th:text="${item.nombre}"></a></h5>

                            <small>
                                <button type="button" style="display: inline; text-decoration: none; outline: none; color:#8a8f97; font-size: 15pt; border: none;" th:onclick="|recetarioFunction(${item.idRecetario})|" >
                                    <i class="fas fa-times"></i>
                                </button>
                            </small>
                        </div>
                        <br>
                    </div>
                </div>


                <!-- RECETARIOS GUARDADOS -->
                <div class="recuadro_recetario">
                    <h2>Recetarios guardados</h2>
                </div>

                <div style="padding: 20px;">
                    <div th:if="${#lists.isEmpty(ufrList)}" class="recuadro_recetario">
                        <h2 style="text-align: center;">No hay recetarios seguidos</h2>
                    </div>
                    <div th:if="${!ufrList.isEmpty()}" style="background-color: #f3ecf3; margin-top: 15px; margin-bottom: 15px; padding: 25px;" th:each="item : ${ufrList}">
                            <br>
                            <div class="d-flex w-100 justify-content-between">
                                <h5 style="font-size: 18pt;" ><a style="text-decoration: none; color:#8a8f97;" th:href="@{'/ver-recetas-seguidas/'+${item.recetario.idRecetario}}" th:text="${item.recetario.nombre}"></a></h5>
                                <small>
                                    <!--
                                    <a th:href="@{'/dejar-seguir-recetario/'+${item.recetario.idRecetario}}" style="display: inline; text-decoration: none; color:#8a8f97; font-size: 15pt;">
                                        <i class="fas fa-heart-broken"></i>
                                    </a>
                                    -->
                                    <button type="button" style="display: inline; text-decoration: none; outline: none; color:#8a8f97; font-size: 15pt; border: none;" th:onclick="|dejarRecetarioFunction(${item.recetario.idRecetario})|" >
                                        <i class="fas fa-heart-broken"></i>
                                    </button>
                                </small>
                            </div>
                            <br>
                    </div>
                </div>
            </div>

            <!-- Model -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nuevo recetario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="recetario-form" th:action="@{/registrar-recetario}" method="post" th:object="${recetario}">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Nombre del recetario:</label>
                                    <input type="text" class="form-control" id="recipient-name" th:field="*{nombre}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btnCancelar" data-bs-dismiss="modal">Cancelar</button>
                                <button class="botonPer" type="submit" id="btnGuardar">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- MyModal -->
            <div class="modal fade" id="eliminarCampo" tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" style="background-color: rgb(255, 193, 36); border: none;">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding: 15px;">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div style="text-align: center;">
                                <div>
                                    <div style="padding: 15px;">
                                        <img src="/img/warning.svg" width="50%">
                                    </div>
                                </div>
                                <br><br>
                                <div style="background-color: #FFF; padding: 25px; border-radius: 25px;">
                                    <div id="myModalTexto" style="margin-bottom: 15px;"></div>
                                    <div id="myModalButtons"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function recetarioFunction(idRecetario){
                    let botones = '<button class="btnCancelar" style="margin-right: 15px; outline: none;" data-bs-dismiss="modal">Cancelar</button> <a href="/eliminar-recetario/'+idRecetario+'" class="botonPer">Eliminar</a>';
                    let texto = '<h2>Eliminar</h2><span>¿Estás seguro de eliminar este recetario?</span>';
                    $('#myModalTexto').html(texto);
                    $('#myModalButtons').html(botones);
                    $("#eliminarCampo").modal('show');
                }

                function dejarRecetarioFunction(idRecetario){
                    let botones = '<button class="btnCancelar" style="margin-right: 15px; outline: none;" data-bs-dismiss="modal">Cancelar</button> <a href="/dejar-seguir-recetario/'+idRecetario+'" class="botonPer">Dejar de seguir</a>';
                    let texto = '<h2>Dejar de seguir</h2><span>¿Estás seguro de no seguir el recetario?</span>';
                    $('#myModalTexto').html(texto);
                    $('#myModalButtons').html(botones)
                    $("#eliminarCampo").modal('show');
                }
            </script>

            <script th:if="${exito}" type="text/javascript">
                toastr.success('Se registró con exito!', 'Exito');
            </script>
            <script th:if="${mensajeError}">
                toastr.error("Solo se aceptan letras","Error");
            </script>
            <script type="text/javascript">
                $("#btnGuardar").on('click',function (e) {
                    if(document.getElementById("recipient-name").value == ""){
                        toastr.warning("No puede ir vacio","Error");
                        document.getElementById("recipient-name").focus()
                        e.preventDefault()
                    }

                })
            </script>
            <script th:if="${eliminarRecetario}" type="text/javascript">
                toastr.error('Necesita eliminar sus recetas del recetario para eliminarlo', 'Error');
            </script>
            <script th:if="${eliminado}" type="text/javascript">
                toastr.success('Recetario eliminado con exito!', 'Exito');
            </script>
            <script th:if="${dejarSeguirRecetario}" type="text/javascript">
                toastr.success('Dejo de seguir el recetario', 'Exito');
            </script>
        </div>
    </body>
    </html>