<html layout:decorate="~{layout/layout_base}">
    <head>
        <title>Nueva receta</title>
    </head>
    <body>

    <div layout:fragment="content">

        <br>
        <!-- FORMULARIO-->
        <div class="container">
            <br>
            <h2 style="font-weight: bolder;">Nueva receta</h2>
            <br>
                <form>
                    <div class="row mb-3">
                        <label for="titulo" style="font-weight: bolder;" class="col-sm-2 col-form-label">Título</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="titulo">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label style="font-weight: bolder;" class="col-sm-2 col-form-label" for="descripcion">Descripción</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" style="height: 150px; resize: none" id="descripcion" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" style="font-weight: bolder;" for="categoria">Categoria</label>
                        <div class="col-sm-10">
                            <select class="form-select" aria-label="Default select example" id="categoria">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="subcategoria" style="font-weight: bolder;">Subcategoría</label>
                        <div class="col-sm-10">
                            <select class="form-select" aria-label="Default select example" id="subcategoria">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="ingredientes" class="col-sm-2 col-form-label" style="font-weight: bolder;">Ingredientes</label>
                        <div class="col-sm-10" >
                            <div class="editor" id="ingredientes" style="
                                border-top-color: rgb(206, 212, 218);
                                border-top-style: solid;
                                border-top-width: 1px;
                                border-right-color: rgb(206, 212, 218);
                                border-right-style: solid;
                                border-right-width: 1px;
                                border-bottom-color: rgb(206, 212, 218);
                                border-bottom-style: solid;
                                border-bottom-width: 1px;
                                border-left-color: rgb(206, 212, 218);
                                border-left-style: solid;
                                border-left-width: 1px;
                                border-image-source: initial;
                                border-image-slice: initial;
                                border-image-width: initial;
                                border-image-outset: initial;
                                border-image-repeat: initial;">

                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editor2" class="col-sm-2 col-form-label" style="font-weight: bolder;">Pasos: </label>
                        <div class="col-sm-10">
                            <div id="editor2" class="editor-margin editor ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred"

                                 lang="es" dir="ltr" role="textbox" aria-label="Editor de Texto Enriquecido, main" contenteditable="true" style="
                                 border-top-color: rgb(206, 212, 218);
                                 border-top-style: solid;
                                 border-top-width: 1px;
                                 border-right-color: rgb(206, 212, 218);
                                 border-right-style: solid;
                                 border-right-width: 1px;
                                 border-bottom-color: rgb(206, 212, 218);
                                 border-bottom-style: solid;
                                 border-bottom-width: 1px;
                                 border-left-color: rgb(206, 212, 218);
                                 border-left-style: solid;
                                 border-left-width: 1px;
                                 border-image-source: initial;
                                 border-image-slice: initial;
                                 border-image-width: initial;
                                 border-image-outset: initial;
                                 border-image-repeat: initial;">

                                <p><br data-cke-filler="true"></p>

                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="img" class="col-sm-2 col-form-label" style="font-weight: bolder;">Agregar imagenes</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" id="img">
                        </div>
                        <br><br>
                        <div class="col-sm-2 col-form-label"></div>
                        <div class="col-sm-10 col-form-label">
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">img2.jpg</li>
                                <li class="list-group-item">img3.jpg</li>
                                <li class="list-group-item">img4.jpg</li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a th:href="@{/test/recetas}" class="btn btn-eliminar" type="button">Cancelar</a>
                        <a th:href="@{/test/recetas}" class="btn btn-agregar" type="submit">Guardar</a>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </body>
</html>