<html layout:decorate="~{layout/layout_base}">
    <head>
        <title>Recetas</title>
    </head>
    <body>
        <div layout:fragment="content">
            <br>
            <!-- Cards -->
            <div class="container">
                <h5><a th:href="@{/ver-recetarios}" style="color:#000; text-decoration: none;"><i class="fas fa-arrow-left"></i> Regresar</a></h5>
                <br>
                <h2><span th:text="${recetario.nombre}"></span> <a th:href="@{'/crear-receta/'+${recetario.idRecetario}}" style="text-decoration: none; color:#DD969C;"><i class="fas fa-plus-circle"></i></a></h2>
                <br>
                <div class="row">
                        <div class="col-6 marginCard" th:each="item: ${recetaList}">
                            <div class="card myborder1" >
                                <div class="imagenCard1" id="box">
                                    <img src="../img/brochetas.jpg" class="imagenCard1"/>
                                </div>
                                <div class="card-body">
                                    <h5 th:text="${item.titulo}" class="card-title" style="font-weight: bolder;"></h5>
                                    <p th:text="${item.descripcion}" class="card-text"></p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">

                                            <label style="font-weight: bolder;">Autor:</label>
                                            <span th:text="${autor}" class="card-text"></span>

                                            <br>
                                            <label style="font-weight: bolder;">Publicada</label>
                                            <span th:text="${item.fechaPublicacion}" class="card-text"></span>
                                            <br>
                                            <!--
                                            <label style="font-weight: bolder;">Calificación:</label>
                                            <span class="card-text">4</span>
                                            -->
                                        </div>
                                        <div class="col-3">
                                            <div class="d-grid gap-2">
                                                <a th:href="@{'/ver-receta-seguida/'+${item.idReceta}}" class="btn btn-sm btn-editar" type="button">Ver receta</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <!-- Cards-->
        </div>
    </body>
</html>