<html layout:decorate="~{layout/layout_base}">
    <head>
        <title>Recetas</title>
    </head>
    <body>
        <div layout:fragment="content">
            <br>
            <!-- Cards -->
            <div class="container">
                <h5><a th:href="@{/ver-recetarios}" style="color:#000; text-decoration: none;"><i class="fas fa-arrow-left"></i> Regresar</a></h5>

                <div th:if="${#lists.isEmpty(recetaList)}" class="recuadro_recetario">
                    <h2 style="text-align: center;">No hay recetas</h2>
                </div>

                <div th:if="${!recetaList.isEmpty()}" class="row">
                    <div class="col-6 marginCard" th:each="item,iStat: ${recetaList}">
                        <div th:class="'card index mb-3 myborder'+${iStat.count}" style="max-width: 540px; /*height: 265px;*/">
                            <div class="row g-0">
                                <div th:class="'col-md-4 imgButton imagenCard'+${iStat.count}" style="height: 226px" id="box">
                                    <img th:if="${#strings.equals(item.imagenes, 'default.jpg')}" th:src="@{'/uploads/default.jpg'}" th:class="'imagenCard'+${iStat.count}" style="border-bottom-left-radius: 15px; border-top-left-radius: 15px;"/>
                                    <img th:unless="${#strings.equals(item.imagenes, 'default.jpg')}" th:src="@{'/uploads/'+${#strings.replace(item.titulo, ' ', '')}+'/'+${#strings.substringBefore(item.imagenes,';')}}" th:class="'imagenCard'+${iStat.count}" style="border-bottom-left-radius: 15px; border-top-left-radius: 15px;"/>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body" style="height: 173px;">
                                        <div class="tituloPadre">
                                            <div class="titulohijo">
                                                <h5 th:text="${item.titulo}" class="card-title" style="font-weight: bolder;"></h5>
                                            </div>
                                        </div>
                                        <p th:text="${#strings.abbreviate(item.descripcion, 165)}" class="card-text"></p>
                                    </div>
                                    <div th:class="'myfooter-recetario-'+${iStat.count}">
                                        <div class="row">
                                            <div class="col-lg-8" style="padding: 5px;">
                                                <span style="display: inline; color:#FFF; font-weight: bolder; font-size: 12pt;" th:text="${#dates.format(item.fechaPublicacion, 'dd-MMM-yyy')}"></span>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                    <a th:href="@{'/ver-receta-seguida/'+${item.idReceta}}" class="botonPer-sm" type="button">Ver receta</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Cards-->
        </div>
    </body>
</html>