<html layout:decorate="~{layout/layout_base}">
    <head>
        <title>Receta</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="container">
                <div class="button-container" style="width: 100%; height: 450px;" id="box" >
                    <a class="btnRegresar" th:href="@{/}" ><i class="fas fa-arrow-left"></i> Regresar</a>
                    <!--<img th:src="@{'/uploads/receta_'+${#strings.substringBefore(receta.imagenes,';')}}" style="width: 100%; height: 450px;">-->

                    <img th:if="${#strings.equals(receta.imagenes, 'default.jpg')}" th:src="@{'/uploads/default.jpg'}"/>

                    <img th:unless="${#strings.equals(receta.imagenes, 'default.jpg')}" th:src="@{'/uploads/'+${#strings.replace(receta.titulo, ' ', '')}+'/'+${#strings.substringBefore(receta.imagenes,';')}}" />


                    <div sec:authorize="isAuthenticated()">
                        <a class="btnSeguirRecetario" th:href="@{'/seguir-recetario/'+${receta.recetario.idRecetario}}" >
                            <i class="fas fa-heart"></i>
                        </a>
                    </div>

                    <div class="calificarRecetario" sec:authorize="isAuthenticated()">
                        <form id="calificar-receta" >
                            <div class="">
                                <div class="" style="display: inline">
                                    <p class="clasificacion" style="display: inline; font-size: 10pt;">
                                        <input id="radio1" style="font-size: 15pt;" type="radio" name="estrellas" value="5">
                                        <label for="radio1" style="font-size: 15pt;" class="star"><i class="fas fa-star"></i></label>
                                        <input id="radio2" style="font-size: 15pt;" type="radio" name="estrellas" value="4">
                                        <label for="radio2" style="font-size: 15pt;" class="star"><i class="fas fa-star"></i></label>
                                        <input id="radio3" style="font-size: 15pt;" type="radio" name="estrellas" value="3">
                                        <label for="radio3" style="font-size: 15pt;" class="star"><i class="fas fa-star"></i></label>
                                        <input id="radio4" style="font-size: 15pt;" type="radio" name="estrellas" value="2">
                                        <label for="radio4" style="font-size: 15pt;" class="star"><i class="fas fa-star"></i></label>
                                        <input id="radio5" style="font-size: 15pt;" type="radio" name="estrellas" value="1">
                                        <label for="radio5" style="font-size: 15pt;" class="star"><i class="fas fa-star"></i></label>
                                    </p>
                                </div>
                                <div style="display: inline">
                                    <button type="submit" class="botonPer" style="display: inline; margin-left: 15px;" >Calificar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br><br>

                <div class="row recuadro_recetario">
                    <h1 style="font-weight: bolder; text-align: center;" th:text="${receta.titulo}"></h1>
                </div>

                <div class="recuadro_recetario">
                    <h2 style="font-weight: bolder;">Descripción</h2>
                    <h4 th:text="${receta.descripcion}"></h4>
                </div>

                <div class="recuadro_recetario">
                    <h2 style="font-weight: bolder;">Ingredientes</h2>
                    <h4 th:utext="${receta.ingredientes}"></h4>
                </div>

                <div class="recuadro_recetario">
                    <h2 style="font-weight: bolder;">Pasos</h2>
                    <h4 th:utext="${receta.pasos}"></h4>
                </div>

                <div class="recuadro_recetario">
                    <h2 style="font-weight: bolder;">Imagenes</h2>
                    <div th:if="${#strings.contains(receta.imagenes,'default')}">
                        <h4>No hay imagenes disponibles</h4>
                    </div>
                </div>

                <!-- Carrusel -->
                <div class="Carousel recuadro_recetario" th:unless="${#strings.contains(receta.imagenes,'default')}">
                    <div class="slick-list" id="slick-list">
                        <button class="slick-arrow slick-prev" id="button-prev" data-button="button-prev" onclick="app.processingButton(event)">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left"
                                 class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 320 512">
                                <path fill="currentColor"
                                      d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                                </path>
                            </svg>
                        </button>
                        <div class="slick-track" id="track">

                            <div class="slick" th:each="img : ${#strings.listSplit(receta.imagenes,';')}">
                                <div>
                                    <a href="/">
                                        <!--<h4>Tacos de canasta</h4>-->
                                        <picture>
                                            <img th:src="@{'/uploads/'+${#strings.replace(receta.titulo, ' ', '')}+'/'+${img}}" alt="Image">
                                        </picture>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <button class="slick-arrow slick-next" id="button-next" data-button="button-next" onclick="app.processingButton(event)">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                                 class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 320 512">
                                <path fill="currentColor"
                                      d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
                <br>

                <div class="recuadro_recetario" >
                    <h2 style="font-weight: bolder;">Comentarios</h2>
                    <div class="row">
                        <div class="col-1">
                            <button type="button" class="btn btn-light btn-circle btn-lg">JJ</button>
                        </div>
                        <div class="col-11"  sec:authorize="isAuthenticated()">


                        <div class="col">
                            <!--
                            <form id="comentarioBox" th:action="@{/realizar-comentario}" method="post">
                                <input type="text" style="display: none" th:value="${receta.idReceta}" id="idReceta" name="idReceta" />
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Deje un comentario aqui" id="floatingTextarea2" name="floatingTextarea2" style="height: 150px; resize: none"></textarea>
                                    <label for="floatingTextarea2">Comentario</label>
                                </div>

                                <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: 15px; margin-top: 15px;">
                                    <button type="submit" class="botonPer">Comentar</button>
                                </div>
                            </form>
                            -->

                            <!-- Formulario nuevo de comentario -->

                            <form id="comentarioBox" >
                                <input type="text" style="display: none" th:value="${receta.idReceta}" id="idReceta" name="idReceta" />
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Deje un comentario aqui" id="floatingTextarea2" name="floatingTextarea2" style="height: 150px; resize: none"></textarea>
                                    <label for="floatingTextarea2">Comentario</label>
                                </div>

                                <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: 15px; margin-top: 15px;">
                                    <button type="submit" class="botonPer">Comentar</button>
                                </div>
                            </form>

                        </div>
                    </div>

                    <div id="cajaComentarios" class="">
                        <div class="row comentario" th:each="item : ${comentarios}">
                            <div class="col-1">
                                <button type="button" class="btn btn-light btn-circle btn-lg">
                                    <span th:text="${#strings.substring(item.usuario.nombre,0,1)}"></span>
                                    <span th:text="${#strings.substring(item.usuario.primerApellido,0,1)}"></span>
                                </button>
                            </div>
                            <div class="col-11">
                                <h3 style="font-weight: bolder;" th:text="${item.usuario.nombre} + ' ' + ${item.usuario.primerApellido} + ' '+ ${item.usuario.segundoApellido}"></h3>
                                <h4 th:text="${item.comentario}"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    setTimeout(function (){
                        console.log("Id receta: "+$('#idReceta').val())
                        $.getJSON("http://localhost:8080/aumentar-vista",{
                            idReceta: $('#idReceta').val()
                        })
                    }, 5000)
                })
            </script>
            <script type="text/javascript">
                $('#comentarioBox').submit(function (e){
                    let idReceta  = $('#idReceta').val()
                    let comentario = $('#floatingTextarea2').val()
                    $.getJSON("http://localhost:8080/realizar-comentario-test",{
                        idReceta: idReceta,
                        comentario: comentario
                    },function (data){
                        let nombreChar = data.nombre.substr(0,1)
                        let apellidoChar = data.primerApellido.substr(0,1)
                        let comentario = '<div class="row comentario">\n' +
                            '                    <div class="col-1">\n' +
                            '                        <button type="button" class="btn btn-light btn-circle btn-lg">' +
                            '                               <span>'+nombreChar+'</span>\n' +
                            '                               <span>'+apellidoChar+'</span>' +
                            '                        </button>\n' +
                            '                    </div>\n' +
                            '                    <div class="col-11">\n' +
                            '                        <h3 style="font-weight: bolder;">'+data.nombre+' '+data.primerApellido+' '+data.segundoApellido+'</h3>\n' +
                            '                        <h4>'+data.comentario+'</h4>\n' +
                            '                    </div>\n' +
                            '                </div>'
                        $('#cajaComentarios').append(comentario)
                        $('#floatingTextarea2').val('')
                    })
                    e.preventDefault()
                })
            </script>
            <script type="text/javascript">
                $('#calificar-receta').submit(function (e){
                    let estrellas  = $('input[name=estrellas]:checked').val()
                    if (estrellas == undefined) estrellas = 0
                    $.getJSON("http://localhost:8080/calificar-receta-test",{
                        idReceta: $('#idReceta').val(),
                        calificacion: estrellas
                    },function (data){
                        $('#calificar-receta').hide()
                        toastr.success('Calificación enviada', 'Exito');
                    })
                    e.preventDefault()
                })
            </script>
        </div>
    </body>
</html>





