<!DOCTYPE html>
<html layout:decorate="~{layout/layout_base}">
    <head>
        <title>Configuracion</title>
    </head>
    <body>
        <div layout:fragment="content">
            <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 10px;">
                <li  class="nav-item" role="presentation">
                    <button th:class="${tabSelectPerfil}" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="true">Perfil</button>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" role="presentation">
                    <button th:class="${tabSelectCategoria}" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false">Categoría</button>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" role="presentation">
                    <button th:class="${tabSelectSubcategoria}" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Subcategoría</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div th:class="${tabSubcategoria}" style="background: #FEEFFB; padding-top: 10px; padding-right: 30px; padding-left: 30px; padding-bottom: 20px;" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <br>
                    <div class="row">
                        <div class="col-lg-8">
                            <h1>Subcategoría</h1>
                        </div>
                        <div class="col-lg-4">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                                <button type="button" class="botonPer" data-bs-toggle="modal" data-bs-target="#subcategory">
                                    Nueva subcategoría
                                </button>
                            </div>

                        </div>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre de la subcategoría</th>
                            <th scope="col">Nombre de la categoría</th>
                            <th scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, iStat:${listaSubcategoria}">
                            <th th:text="${iStat.count}" scope="row"></th>
                            <td th:text="${item.nombre}"> </td>
                            <td th:text="${item.categoria.nombre}"></td>
                            <td>
                                <a th:href="@{'/eliminarSubcategoria/'+${item.idSubCategoria}}" class="btn-eliminar"><i class="far fa-trash-alt"></i></a>
                                <a th:href="@{'/editarSubCategoria/'+${item.idSubCategoria}}"class="btn-editar"><i class="far fa-edit"></i></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <!-- Modal -->
                    <div class="modal fade" id="subcategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Subcategory</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/crearSubcategoria}" method="post" th:object="${subcategoria}">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre Subcategoria</label>
                                            <input type="text" class="form-control" placeholder="Ingresa un nombre de subcategoria" th:field="*{nombre}" id="nombreSubcategoria">
                                            <input type="text" th:field="*{idSubCategoria}" class="form-control" style="display: none"></input>

                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Categoría:</label><br/>
                                            <select required="required" class="form-select" id="category_id" name="category_id" aria-label="Ingeniería">
                                                <option selected value="0">Seleccione su categoría...</option>
                                                <option th:each="item:${listaCategoria}" th:text="${item.nombre}"  th:value="${item.idCategoria}"></option>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <a th:href="@{/perfil}" class="btn btn-eliminar">Cancelar</a>
                                            <button type="submit" class="btn btn-agregar" id="subcategoriaBtn">Guardar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript" th:if="${subcategoria.idSubCategoria != null}">
                        document.addEventListener('DOMContentLoaded', function() {
                            console.log("Cargando Modal Subcategoria");
                            var myModal2 = new bootstrap.Modal(document.getElementById('subcategory'));
                            myModal2.show();
                        });
                    </script>
                </div>


                <div th:class="${tabCategoria}" id="home" style="background: #FEEFFB; padding-top: 10px; padding-right: 30px; padding-left: 30px; padding-bottom: 20px;" role="tabpanel" aria-labelledby="home-tab">
                    <br>
                    <div class="row">
                        <div class="col-lg-10">
                            <h1>Categoría</h1>
                        </div>
                        <div class="col-lg-2">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" class="botonPer" data-bs-toggle="modal" data-bs-target="#category">
                                    Nueva categoría
                                </button>
                            </div>

                        </div>
                    </div>
                    <table class="table"  style="background-color:#F5EEF8">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre de la subcategoría</th>
                            <th scope="col">Nombre de la categoría</th>
                            <th scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, iStat: ${listaCategoria}">
                            <th scope="row" th:text="${iStat.count}"></th>
                            <td th:text="${item.nombre}"></td>
                            <td>
                                <a th:href="@{'/eliminarCategoria/'+${item.idCategoria}}" class="btn-eliminar"><i class="far fa-trash-alt"></i></a>
                                <a th:href="@{'/editarCategoria/'+${item.idCategoria}}" id="idCategoria" class="btn-editar"><i class="far fa-edit"></i></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <!-- Modal -->
                    <div class="modal fade" id="category" tabindex="-1" aria-labelledby="categoryLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="categoryLabel">Categoria</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/crearCategoria}" method="post" th:object="${categoria}">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre Categoria</label>
                                            <input type="text" class="form-control" placeholder="Ingresa un nombre de subcategoria" th:field="*{nombre}" id="nameCategoria">
                                            <input type="text" th:field="*{idCategoria}" class="form-control" style="display: none"></input>

                                        </div>
                                        <!--<div class="mb-3">
                                            <label class="form-label">Categoría:</label><br/>
                                            <select required="required" class="form-select" id="category_id" name="category_id" aria-label="Ingeniería">
                                                <option selected>Seleccione su categoría...</option>
                                                <option th:each="item:${listaCategoria}" th:text="${item.nombre}"  th:value="${item.idCategoria}"></option>
                                            </select>
                                        </div>-->
                                        <div class="modal-footer">
                                            <a th:href="@{/perfil}" class="btn btn-eliminar">Cancelar</a>
                                            <!--<button type="button" class="btn btn-eliminar" data-bs-dismiss="modal">Cancelar</button>-->
                                            <button type="submit" class="btn btn-agregar" id="btnCategoria">Guardar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript" th:if="${categoria.idCategoria != null}">
                        document.addEventListener('DOMContentLoaded', function() {
                            console.log("Cargando Modal categoria");
                            var myModal = new bootstrap.Modal(document.getElementById('category'));
                            myModal.show();
                        });
                    </script>
                </div>

                <div th:class="${tabPerfil}" id="contact" style="background: #FEEFFB; padding-top: 10px; padding-right: 30px; padding-left: 30px; padding-bottom: 20px;" role="tabpanel" aria-labelledby="profile-tab">
                    <br>
                    <div>
                        <h1>Perfil</h1>
                    </div>
                    <form th:action="@{editarPerfil}" th:object="${usuario}" method="post">
                        <input type="text"  id="idUsuario" name="idUsuario" th:field="*{idUsuario}" class="form-control" style="display: none"></input>
                        <input type="text" th:field="*{password}" class="form-control" style="display: none"></input>
                        <input type="text" th:field="*{rol}" class="form-control" style="display: none"></input>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-file-signature"></i></span>
                            <input type="text" class="form-control" placeholder="Nombre(s)" aria-label="Nombre" aria-describedby="basic-addon1" th:field="*{nombre}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2"><i class="fas fa-file-signature"></i></span>
                            <input type="text" class="form-control" placeholder="Primer apellido" aria-label="Primer apellido" aria-describedby="basic-addon1" th:field="*{primerApellido}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon8"><i class="fas fa-file-signature"></i></span>
                            <input type="text" class="form-control" placeholder="Segundo apeliido" aria-label="Segundo apeliido" aria-describedby="basic-addon1" th:field="*{segundoApellido}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3"><i class="fas fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario" aria-describedby="basic-addon1" th:field="*{username}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon4"><i class="fas fa-at"></i></span>
                            <input type="text" class="form-control" placeholder="Correo" aria-label="Correo electrónico" aria-describedby="basic-addon1" th:field="*{correo}">
                        </div>
                        <div>
                            <h1>Cambio de contraseña</h1>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon5"><i class="fas fa-key"></i></span>
                            <input type="password" class="form-control" placeholder="Ingrese su nueva contraseña" aria-label="Contraseña" aria-describedby="basic-addon1"  id="passwordInput" name="passwordInput" th:field="*{password}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon6"><i class="fas fa-key"></i></span>
                            <input type="password" class="form-control" placeholder="Repita su contraseña" aria-label="Contraseña" aria-describedby="basic-addon1"  id="passwordInputConfirm" name="passwordInput">
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                            <button type="submit" class="botonPer" id="checarPass">Guardar cambios</button>
                        </div>
                    </form>


                    <br/>
                </div>
            </div>
            <script th:if="${exito}">
                toastr.success('Se guardó con exito!', 'Exito');
            </script>
            <script th:if="${error}">
                toastr.error("Solo se aceptan letras","Error");
            </script>
            <script th:if="${errorSub}">
                toastr.error("Debe seleccionar una categoria","Error");
            </script>
            <script th:if="${errorName}">
                toastr.error("El nombre no puede ir vacío","Error");
            </script>
            <script th:if="${exitoEliminar}">
                toastr.success('Se elimino con exito!', 'Exito');
            </script>
            <script th:if="${eliminar}">
                toastr.error("No se elimino","Error");
            </script>
            <script type="text/javascript">
                $('#checarPass').on('click',function (e) {
                    if(document.getElementById("passwordInput").value != document.getElementById("passwordInputConfirm").value){
                        toastr.warning("Las contraseñas no coinciden","Error");
                        document.getElementById("passwordInputConfirm").focus()
                        e.preventDefault()
                    }
                });

                $('#subcategoriaBtn').on('click',function (e) {
                    if(document.getElementById("nombreSubcategoria").value == ""){
                        toastr.warning("No puede ir vacio","Error");
                        document.getElementById("nombreSubcategoria").focus()
                        e.preventDefault()
                    }
                    if(document.getElementById("category_id").value == 0){
                        toastr.warning("Debe seleccionar al menos una categoria","Error");
                        document.getElementById("category_id").focus()
                        e.preventDefault()
                    }
                });

                $('#btnCategoria').on('click',function (e) {
                    if(document.getElementById("nameCategoria").value == ""){
                        toastr.warning("No puede ir vacio","Error");
                        document.getElementById("nameCategoria").focus()
                        e.preventDefault()
                    }

                })
            </script>
        </div>
    </body>
</html>