<!-- Barra de navegación -->
<nav th:fragment="main_menu" class="navbar navbar-expand-lg navbar-light" style="background-color: #DD969C;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Recetario</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Mejor calificadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Más buscadas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categorías
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Ensaladas</a></li>
                        <li><a class="dropdown-item" href="#">Pasteles</a></li>
                        <li><a class="dropdown-item" href="#">Chatarra</a></li>
                        <li><a class="dropdown-item" href="#">Comida fuerte</a></li>
                    </ul>
                </li>
            </ul>


            <div class="d-flex">
                <a class="btn btn-light misRecetas" href="#" tabindex="-1" aria-disabled="false">Mis recetas</a>

                <div class="btn-group dropstart" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-light btn-circle btn-lg dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">JJ</button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Configuración</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>