<html layout:decorate="~{layout/layout_base}">
<head>
    <title>Principal</title>
</head>
<body>
<div layout:fragment="content">
    <table>
        <td>
            <div style="margin-top: 125px; margin-left:125px">       
                <div style="width: 500px; align-items: center;">
                    <h1>Oops!</h1>
                    <h2>No podemos encontrar la p&aacutegina que esta buscando</h2>
                    <h3>Error 404</h3>    
                    <br/>
                    <a class="btn btn-primary" th:href="@{'/'}">
							Regresar a p&aacutegina principal
					</a>        
                </div>        
            </div>
        </td>
        <td>
            <div style="margin-top:110px">
                <img src="https://i.pinimg.com/originals/f9/f9/c9/f9f9c9462c06d6c13cf6681fe0df1707.jpg" width="500px" height="500px" >       
            </div>
        </td>
    </table>
</div>
</body>
</html>