<html layout:decorate="~{layout/layout_base}">
<head>
    <title>Principal</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <br/><br/>
                <br/><br/>
                <br/><br/>
                <br/><br/>
                <div>
                    <h1>Oops!</h1>
                    <h2>Ocurrio un error interno del servidor</h2>
                    <h3>Error 500</h3>
                    <br/>
                    <a class="btn btn-lg" style="background: #EADDE7" th:href="@{/}">
                        Regresar a p&aacutegina principal
                    </a>
                </div>
            </div>
            <div class="col">
                <br/>
                <br/>
                <div>
                    <img src="http://assets.stickpng.com/images/5a4613eed099a2ad03f9c996.png" width="500px" height="500px" >
                </div>
            </div>
        </div>
    </div>



</div>
</body>
</html>