
<html layout:decorate="~{layout/layout_base}">
    <head>
        <title>Principal</title>
    </head>
    <body>
        <div layout:fragment="content">
            <br>
            <!-- Cards -->
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 g-4">

                    <div class="col">
                        <div class="card myborder1">
                            <div class="imagenCard1">
                                <img src="/img/fondo1.jpg" class="imagenCard1" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <label>Autor:</label>
                                        <span class="card-text">Jean Jairo Benitez Meza</span>
                                        <label>Fecha de publicación:</label>
                                        <span class="card-text">03 de Marzo del 2021</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="verReceta.html" class="btn btn-light">Ver receta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder2">
                            <div class="imagenCard2">
                                <img src="./img/fondo2.png" class="imagenCard2" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title <span>(4.5)</span></h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <label>Autor:</label>
                                        <span class="card-text">Alan Jesus Carranza Vazquez</span>
                                        <label>Fecha de publicación:</label>
                                        <span class="card-text">10 de Abril del 2021</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="verReceta.html" class="btn btn-light">Ver receta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder3">
                            <div class="imagenCard3">
                                <img src="./img/fondo3.png" class="imagenCard3" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <label>Autor:</label>
                                        <span class="card-text">Juan Pablo Álvarez López</span>
                                        <label>Fecha de publicación:</label>
                                        <span class="card-text">27 de Enero del 2021</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="verReceta.html" class="btn btn-light">Ver receta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder4">
                            <div class="imagenCard4">
                                <img src="./img/fondo4.png" class="imagenCard4" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <label>Autor:</label>
                                        <span class="card-text">Daniela Paola Nuño Camacho</span>
                                        <label>Fecha de publicación:</label>
                                        <span class="card-text">15 de Junio del 2021</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="verReceta.html" class="btn btn-light">Ver receta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder5">
                            <div class="imagenCard5">
                                <!--<img src="../img/fondo1.jpg" class="imagenCard5"/>-->
                                Sin imagen
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <label>Autor:</label>
                                        <span class="card-text">Jean Jairo Benitez Meza</span>
                                        <label>Fecha de publicación:</label>
                                        <span class="card-text">03 de Marzo del 2021</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="verReceta.html" class="btn btn-light">Ver receta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder6">
                            <div class="imagenCard6">
                                <!--<img src="../img/fondo2.png" class="imagenCard6"/>-->
                                Sin imagen
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <label>Autor:</label>
                                        <span class="card-text">Alan Jesus Carranza Vazquez</span>
                                        <label>Fecha de publicación:</label>
                                        <span class="card-text">03 de Marzo del 2021</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="verReceta.html" class="btn btn-light">Ver receta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder7">
                            <div class="imagenCard7">
                                <!--<img src="../img/fondo3.png" class="imagenCard7"/>-->
                                Sin imagen
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <label>Autor:</label>
                                        <span class="card-text">Juan Pablo Álvarez López</span>
                                        <label>Fecha de publicación:</label>
                                        <span class="card-text">03 de Marzo del 2021</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="verReceta.html" class="btn btn-light">Ver receta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder8">
                            <div class="imagenCard8">
                                <!--<img src="../img/fondo4.png" class="imagenCard8"/>-->
                                Sin imagen
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <label>Autor:</label>
                                        <span class="card-text">Daniela Paola Nuño Camacho</span>
                                        <label>Fecha de publicación:</label>
                                        <span class="card-text">03 de Marzo del 2021</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="verReceta.html" class="btn btn-light">Ver receta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder9">
                            <div class="imagenCard9">
                                <!--<img src="../img/fondo1.jpg" class="imagenCard9"/>-->
                                Sin imagen
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <label>Autor:</label>
                                        <span class="card-text">Jean Jairo Benitez Meza</span>
                                        <label>Fecha de publicación:</label>
                                        <span class="card-text">03 de Marzo del 2021</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="verReceta.html" class="btn btn-light">Ver receta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Cards -->
            <br/>
        </div>
    </body>
</html>