
<html layout:decorate="~{layout/layout_base}">
    <head>
        <title>Principal</title>
    </head>
    <body>
        <div layout:fragment="content">
            <br>
            <!-- Cards -->
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 g-4">


                    <div class="col">
                        <div class="card myborder1">
                            <div class="imagenCard1">
                                <img src="/img/pizza.jpg" class="imagenCard1" />
                            </div>
                            <div class="card-body">
                                <b><span style="font-size: 18pt">Card title</span> - <span style="font-size: 18pt">4.5</span></b>
                                <p class="card-text">This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                    This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <b><label>Autor:</label></b>
                                        <span class="card-text">Jean Jairo</span><br/>
                                        <b><label>Publicada:</label></b>
                                        <span class="card-text">03/Marzo/2021</span>
                                    </div>
                                    <div class="col-3">
                                        <a th:href="@{/test/receta}" style="background: #F6EFF4; color: #000" class="btn btn-lg">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder2">
                            <div class="imagenCard2">
                                <img src="./img/tacos.jpeg" class="imagenCard2" />
                            </div>
                            <div class="card-body">
                                <b><span style="font-size: 18pt">Card title</span> - <span style="font-size: 18pt">4.5</span></b>
                                <p class="card-text">This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                    This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <b><label>Autor:</label></b>
                                        <span class="card-text">Jean Jairo</span><br/>
                                        <b><label>Publicada:</label></b>
                                        <span class="card-text">03/Marzo/2021</span>
                                    </div>
                                    <div class="col-3">
                                        <a th:href="@{/test/receta}" style="background: #F6EFF4; color: #000" class="btn btn-lg">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder3">
                            <div class="imagenCard3">
                                <img src="./img/filete.jpg" class="imagenCard3" />
                            </div>
                            <div class="card-body">
                                <b><span style="font-size: 18pt">Card title</span> - <span style="font-size: 18pt">4.5</span></b>
                                <p class="card-text">This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                    This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-9">
                                            <b><label>Autor:</label></b>
                                            <span class="card-text">Jean Jairo</span><br/>
                                            <b><label>Publicada:</label></b>
                                            <span class="card-text">03/Marzo/2021</span>
                                        </div>
                                        <div class="col-3">
                                            <a th:href="@{/test/receta}" style="background: #F6EFF4; color: #000" class="btn btn-lg">Ver</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder4">
                            <div class="imagenCard4">
                                <img src="./img/torta.jpg" class="imagenCard4" />
                            </div>
                            <div class="card-body">
                                <b><span style="font-size: 18pt">Card title</span> - <span style="font-size: 18pt">4.5</span></b>
                                <p class="card-text">This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                    This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <b><label>Autor:</label></b>
                                        <span class="card-text">Jean Jairo</span><br/>
                                        <b><label>Publicada:</label></b>
                                        <span class="card-text">03/Marzo/2021</span>
                                    </div>
                                    <div class="col-3">
                                        <a th:href="@{/test/recerta}" style="background: #F6EFF4; color: #000" class="btn btn-lg">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder5">
                            <div class="imagenCard5">
                                <!--<img src="../img/fondo1.jpg" class="imagenCard5"/>-->
                                Sin imagen
                            </div>
                            <div class="card-body">
                                <b><span style="font-size: 18pt">Card title</span> - <span style="font-size: 18pt">4.5</span></b>
                                <p class="card-text">This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                    This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <b><label>Autor:</label></b>
                                        <span class="card-text">Jean Jairo</span><br/>
                                        <b><label>Publicada:</label></b>
                                        <span class="card-text">03/Marzo/2021</span>
                                    </div>
                                    <div class="col-3">
                                        <a th:href="@{/test/receta}" style="background: #F6EFF4; color: #000" class="btn btn-lg">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder6">
                            <div class="imagenCard6">
                                <!--<img src="../img/fondo2.png" class="imagenCard6"/>-->
                                Sin imagen
                            </div>
                            <div class="card-body">
                                <b><span style="font-size: 18pt">Card title</span> - <span style="font-size: 18pt">4.5</span></b>
                                <p class="card-text">This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                    This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <b><label>Autor:</label></b>
                                        <span class="card-text">Jean Jairo</span><br/>
                                        <b><label>Publicada:</label></b>
                                        <span class="card-text">03/Marzo/2021</span>
                                    </div>
                                    <div class="col-3">
                                        <a th:href="@{/test/receta}" style="background: #F6EFF4; color: #000" class="btn btn-lg">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder7">
                            <div class="imagenCard7">
                                <!--<img src="../img/fondo3.png" class="imagenCard7"/>-->
                                Sin imagen
                            </div>
                            <div class="card-body">
                                <b><span style="font-size: 18pt">Card title</span> - <span style="font-size: 18pt">4.5</span></b>
                                <p class="card-text">This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                    This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <b><label>Autor:</label></b>
                                        <span class="card-text">Jean Jairo</span><br/>
                                        <b><label>Publicada:</label></b>
                                        <span class="card-text">03/Marzo/2021</span>
                                    </div>
                                    <div class="col-3">
                                        <a th:href="@{/test/receta}" style="background: #F6EFF4; color: #000" class="btn btn-lg">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder8">
                            <div class="imagenCard8">
                                <!--<img src="../img/fondo4.png" class="imagenCard8"/>-->
                                Sin imagen
                            </div>
                            <div class="card-body">
                                <b><span style="font-size: 18pt">Card title</span> - <span style="font-size: 18pt">4.5</span></b>
                                <p class="card-text">This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                    This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <b><label>Autor:</label></b>
                                        <span class="card-text">Jean Jairo</span><br/>
                                        <b><label>Publicada:</label></b>
                                        <span class="card-text">03/Marzo/2021</span>
                                    </div>
                                    <div class="col-3">
                                        <a th:href="@{/test/receta}" style="background: #F6EFF4; color: #000" class="btn btn-lg">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card myborder9">
                            <div class="imagenCard9">
                                <!--<img src="../img/fondo1.jpg" class="imagenCard9"/>-->
                                Sin imagen
                            </div>
                            <div class="card-body">
                                <b><span style="font-size: 18pt">Card title</span> - <span style="font-size: 18pt">4.5</span></b>
                                <p class="card-text">This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                    This content is a little bit longer.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <b><label>Autor:</label></b>
                                        <span class="card-text">Jean Jairo</span><br/>
                                        <b><label>Publicada:</label></b>
                                        <span class="card-text">03/Marzo/2021</span>
                                    </div>
                                    <div class="col-3">
                                        <a th:href="@{/test/receta}" style="background: #F6EFF4; color: #000" class="btn btn-lg">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Cards -->
            <br/>

            <div>
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true" style="color: #000000; font-size: 15pt;">Anterior</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#" style="color: #000000; font-size: 15pt;">1</a></li>
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="#" style="color: #000000; font-size: 15pt;">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#"  style="color: #000000; font-size:15pt;">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"  style="color: #000000; font-size: 15pt;">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <br/>
        <br/>
    </body>
</html>