
<html layout:decorate="~{layout/layout_base}">
    <head>
        <title>Principal</title>
    </head>
    <body >
        <div layout:fragment="content">
            <br>
            <!-- Cards -->
            <div class="container" style="padding-left: 60px; padding-right: 60px; padding-bottom: 50px;/* border-left: 8px solid #DD969C; border-right: 8px solid #DD969C */">
                <div th:if="${#lists.isEmpty(listaRecetas)}" class="recuadro_recetario">
                    <h2 style="text-align: center;">No hay recetas publicadas</h2>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div th:if="${!listaRecetas.isEmpty()}" class="col" th:each="item, iStat: ${listaRecetas}">
                        <div th:class="'card index myborder'+${iStat.count}">

                            <div th:class="'imgButton imagenCard'+${iStat.count}" style="width: 100%;height: 200px;">

                                <img th:if="${#strings.contains(item.imagenes, 'default.jpg')}" th:src="@{'/uploads/default.jpg'}" th:class="'imagenCard'+${iStat.count}" style="border:none; width: 100%; height: 200px;"/>
                                <img th:unless="${#strings.contains(item.imagenes, 'default.jpg')}" th:src="@{'/uploads/'+${#strings.replace(item.titulo, ' ', '')}+'/'+${#strings.substringBefore(item.imagenes,';')}}" th:class="'imagenCard'+${iStat.count}" style="border:none; width: 100%; height: 200px;"/>
                                <a th:href="@{'/ver-receta/'+${item.idReceta}}" class="botonPer-index">Ver receta</a>
                            </div>

                            <div class="card-body index" style="height: 155px">
                                <div class="tituloPadre">
                                    <div class="titulohijo">
                                        <b><p class="card-text tituloCard" style="" th:text="${item.titulo}"></p></b>
                                    </div>
                                </div>

                                <div style="margin-bottom: 5px">
                                    <p class="card-text descripcion" th:text="${#strings.abbreviate(item.descripcion, 175)}"></p>
                                </div>
                            </div>
                            <div th:class="'myfooter'+${iStat.count}">
                                <div class="row">
                                    <div class="col-8">
                                        <label style="font-size: 10pt">Por </label>
                                        <span style="font-size: 10pt" th:text="${item.recetario.usuario.nombre} + ' ' +${item.recetario.usuario.primerApellido}"></span><br/>
                                    </div>
                                    <div class="col-4">
                                        <small style="font-size: 10pt" th:text="${#dates.format(item.fechaPublicacion, 'dd-MMM-yyy')}"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Cards -->
            <br/>
            <!--
            <div>
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true" style="color: #000000; font-size: 15pt;">Anterior</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#" style="color: #000000; font-size: 15pt;">1</a></li>
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="#" style="color: #000000; font-size: 15pt;">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#"  style="color: #000000; font-size:15pt;">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"  style="color: #000000; font-size: 15pt;">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
            -->
        </div>
        <br/>
        <br/>
    </body>
</html>